.movies-card-list {
  width: 100%;
  max-width: 1140px;
  /* display: grid; */
  padding: 70px 0px 80px;
}

.movies-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 319px;
  grid-auto-rows: 319px;
  gap: 32px;

  margin: 0px;
  padding: 0px;
}