.profile {
  height: calc(100vh - (41.39px + 18px + 18px));
  box-sizing: border-box;
  justify-content:center;
  align-content: center;
  row-gap: unset;
}

@media screen and (max-width: 520px) {
  .profile {
    padding: 70px 0px 40px;
  }
}