.promo {
  width: 100%;
  /* min-width: 320px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px;
  background-color: #073042;
}

.promo__content {
  /* width: 100%; */
  max-width: 1140px;
  /* min-width: 320px; */
  display: grid;
  grid-template-columns: 640px 310px;
  grid-template-rows: 210px 178px 61px;
  column-gap: 190px;
}

.promo__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  color: #fff;
  margin: 0;
  padding: 0;
}

.promo__image {
  width: 310px;
  height: 304px;
  grid-column: 2/3;
  grid-row: 1/4;
}

.promo__text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  color: #fff;
  margin: 0;
  padding: 0;
}

.promo__button {
  width: 129px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: #fff;
  cursor: pointer;
  transition: opacity .5s;
  padding: 0;
}

.promo__button:hover {
  opacity: .6;
}