.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 10px;
  background-color: transparent;
}

.search__form {
  width: 100%;
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 72px 20px;
  row-gap: 26px;
  border-bottom: 1px solid rgba(170, 170, 170, .2);
  padding-bottom: 44px;
}

.search__box {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
  color: #8b8b8b;
  background-color: unset;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 8px;
  margin: 0px;
  padding: 0px 10px 0px 25px;
}

.search__box:focus{
  outline: unset;
  border: 1px solid #4285f4;
}

.search__button-search {
  width: 100px;
  height: 52px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: self-end;
  align-self: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: #fff;
  background-color: #4285F4;
  border: unset;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.search__button-search:hover {
  opacity: .8;
}

.search__label-metrage {
  position: relative;
}

.search__checkbox-metrage {
  position: absolute;
  top: 50%;
  left: 1%;
  display: inline-block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.search__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 20px;
  background-image: url(../../images/smalltumboff.svg);
  margin-right: 14px;
  cursor: pointer;
}

.search__pseudo-item:hover {
  opacity: .8;
}

.search__checkbox-metrage:checked + .search__pseudo-item {
  background-image: url(../../images/smalltumb.svg);
}

.search__label-text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  color: #fff;
}

@media screen and (max-width: 1040px) {

  .search__form {
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 610px) {
  .search__form {
    padding-bottom: 63px;
  }

  .search__box {
    font-size: 16px;
    line-height: 1;
    padding-left: 12px;
    padding-right: 6px;
  }

  .search__button-search {
    width: 80px;
    height: 44px;
    margin-right: 6px;
  }

  .search__label-text {
    font-size: 11px;
    line-height: 1.63;

  }
}