.footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 75px 70px 20px;
  background-color: #202020;
}

.footer__content {
  width: 100%;
  max-width: 1140px;
  display: grid;
  grid-template-columns: minmax(368px, 958px) 182px;
  grid-template-rows: 36px 36px;
}

.footer__text {
  grid-column: 1/4;
  width: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  color: #8b8b8b;
  text-align: center;
  border-bottom: 1px solid #424242;
  margin: 0;
  padding: 0;
}

.footer__copyright {
  align-self: self-end;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  color: #fff;
  margin: 0;
  padding: 0;
}

.footer__list {
  display: grid;
  grid-template-columns: 140px 42px;
  align-items: end;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer__list-item {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.footer__link {
  /* align-self: self-end; */
  font-family: "Inter", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1040px) {
  .footer {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 610px) {
  .footer {
    padding-top: 73px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__content {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    justify-items: center;
  }

  .footer__text {
    grid-column: unset;
    font-size: 12px;
    padding-bottom: 21px;
  }

  .footer__copyright {
    grid-row: 5/6;
    font-size: 12px;
    color: #8b8b8b;
    padding-top: 30px;
  }

  .footer__list {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 10px;
    padding-top: 27px;
  }

  .footer__link {
    font-size: 12px;
    padding-top: 30px;
  }

  .footer__link:last-child {
    padding-top: 12px;
  }
}
