
.section-caption{
  width: 100%;
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
}
.section-caption__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -4%;
  color: #dadada;
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 610px) {
  .section-caption__title {
    font-size: 18px;
  }

  .section-caption__title_dark {
    border-color: #000;
  }
}